@model IEnumerable<HRAPPv1.Models.ColaboradorCompetency>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorTypeIdTypeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetencieIdCompetencieNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorTypeIdTypeNavigation.IdType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetencieIdCompetencieNavigation.IdCompetencie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idcc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idcc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idcc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
